@import "tailwindcss";


.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.pointer {
    cursor: pointer;
}









/* Google-like dropdown style */
.gstyle {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
  color: #333;
  display: block;
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  line-height: 1.4;
  appearance: none;
  cursor: pointer;

  background-image: url("data:image/svg+xml;utf8,<svg fill='%23666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 20px;
  padding-right: 2.5rem;
}

.gstyle:focus {
  border-color: #4285f4;
  box-shadow: 0 0 0 2px rgba(66,133,244,0.2);
  outline: none;
}

/* استایل گزینه‌ها */

.gstyle option {
  padding: 0.6rem 0.8rem;   /* فاصله داخلی هر آیتم */
  line-height: 1.6;         /* ارتفاع خط بیشتر برای فاصله عمودی */
  font-size: 0.95rem;
  color: #333;
  background-color: #fff;
}

/* حالت hover روی آیتم‌ها */
.gstyle option:hover {
  background-color: #f1f1f1;
  color: #000;
}

/* حالت انتخاب‌شده */
.gstyle option:checked {
  background-color: #4285f4;
  color: #fff;
}






